body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shop-row:hover {
  background: grey;
  cursor: pointer;
}

.shop-list-container {
  width: 800px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.disabled-link {
  pointer-events: none;
}

.home-page-container {
  text-align: center;
}

.page-title {
  text-align: center;
}

.home-page-container div {
  margin-bottom: 10px;
}

.shop-detail-list {
  text-align: left;
}